/* ===== Navbar ===== */
main header .container nav ul li .sign-in {
  color: black;
}
.scrolled,
.opened {
  background-color: white;
}
main header .container nav ul li a {
  margin-left: 15px;
}
main header .container nav ul li .btn.nav-link {
  background-color: black;
  color: white;
  padding: 8px 16px;
  transition: all 0.5s;
  border: 1px solid black;
}
main header .container nav ul li .btn.nav-link:hover {
  background-color: white;
  color: black;
}
main header .container nav ul li .btn span {
  color: grey;
}

/* ===== Section 1 ===== */
main .section-1 {
  padding-top: 110px;
  background-image: url(../images/Background.png);
  background-size: 100% 100%;
}
main .section-1 h1 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin-bottom: 20px;
}
main .section-1 p {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
main .section-1 .btn {
  background-color: black;
  color: white;
  padding: 8px 16px;
  margin-bottom: 10px;
  transition: all 0.5s;
  border: 1px solid black;
}
main .section-1 .btn span {
  color: grey;
}
main .section-1 .btn:hover {
  background-color: white;
  color: black;
}
/* ===== Section 2 ===== */
main .section-2 {
  background-color: white;
}
main .section-2 .sec-2-text {
  padding-top: 80px;
}
main .section-2 .sec-2-text h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
main .section-2 .sec-2-text p {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
main .section-2 .sec-2-text a.btn {
  background-color: black;
  color: white;
  padding: 8px 16px;
  margin-bottom: 10px;
  border: 1px solid black;
  transition: all 0.5s;
}
main .section-2 .sec-2-text a.btn span {
  color: grey;
}
main .section-2 .sec-2-text a.btn:hover {
  background-color: white;
  color: black;
}
